@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jakarta";
  src: url("../font/jakartaSans/static/PlusJakartaSans-ExtraBold.woff2")
      format("font/woff2"),
    url("../font/jakartaSans/static/PlusJakartaSans-ExtraBold.woff")
      format("font/woff"),
    url("../font/jakartaSans/static/PlusJakartaSans-Bold.woff")
      format("font/woff"),
    url("../font/jakartaSans/static/PlusJakartaSans-Medium.woff")
      format("font/woff"),
    url("../font/jakartaSans/static/PlusJakartaSans-Bold.woff2")
      format("font/woff2"),
    url("../font/jakartaSans/static/PlusJakartaSans-Medium.woff2")
      format("font/woff2");
}

body {
  font-family: "Jakarta", sans-serif;
  font-weight: 500;
  line-height: 28px;
  color: #83869a;
}

h1,
h2,
h3 {
  color: #13183f;
  font-weight: 800;
  line-height: normal;
}

@layer components {
  .btn {
    @apply text-white;
    @apply w-[140px];
    @apply h-[48px];
    border-radius: 28px;
  }

  .btn-primary {
    transition: background-color 350ms ease-in-out;
  }

  .btn-primary:hover {
    background-color: #666ca3;
  }

  .btn-secondary {
    transition: opacity 350ms ease-in-out;
    background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  }
  .btn-secondary:hover {
    opacity: 0.6;
  }

  .backgroundSection {
    background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  }

  .grid-container {
    display: grid;
    @apply gap-10;
    @apply md:gap-y-[56px];
    @apply md:gap-x-3;
    @apply lg:gap-y-20;
    @apply lg:gap-x-[30px];
  }
  @media screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .header-block {
    border-radius: 10px;
    background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  }
  .header-block h2 {
    @apply text-white;
    @apply leading-8;
    @apply lg:leading-10;
  }

  .btn-tertiary {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
    transition: color 350ms ease-in-out;
  }

  .btn-tertiary:hover {
    color: #ffa7c3;
  }

  .card {
    @apply bg-white;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 10px;
  }

  footer {
    background-color: #13183f;
  }
  .btn-footer {
    transition: opacity 350ms ease-in-out;
    background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
  }
  .btn-footer:hover {
    opacity: 0.8;
  }
}
